/* UNIVERSAL */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');
/* font-family: monaco, Consolas; */
/* font-family: 'Montserrat', sans-serif; */

@font-face {
  font-family: 'Earth Orbiter';
  src: url('./fonts/transfonter.org-20221002-164626/EarthOrbiter.woff2') format('woff2'),
      url('./fonts/transfonter.org-20221002-164626/EarthOrbiter.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: monaco, Consolas;
}

h1 {
  font-family: 'Earth Orbiter';
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

button.btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.component {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 0;
  margin-bottom: 0;
}


/* NAV */

.nav {
  border-bottom: 2px solid black;
}

.nav-burger {
  font-size: 2em;
}

/* INTRO */

.intro {
  margin-top: 3.4em;
  
}

.intro-content {
  text-align: left;
  top: 3em;
}

.glow {
  color: #fff;
  /* -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate; */
  text-shadow: 0 0 10px aqua, 0 0 10px aqua, 0 0 10px #004dc0, 0 0 10px #004dc0, 0 0 10px #004dc0, 0 0 10px #004dc0, 0 0 10px #004dc0;
}

/* @keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #004dc0, 0 0 40px #004dc0, 0 0 50px #004dc0, 0 0 60px #004dc0, 0 0 70px #004dc0;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #5fbcf6, 0 0 40px #5fbcf6, 0 0 50px #5fbcf6, 0 0 60px #5fbcf6, 0 0 70px #5fbcf6, 0 0 80px #ff4da6;
  }
} */

.intro-content h2 {
  color: #F930E5;
  font-size: 0.9em;
}

.intro-content p {
  font-size: 0.8em;
}

/* PROJECTS */

.projects {
  border: 1px solid black;
}

.projects h2 {
  text-align: center;
}