.App {
  text-align: center;
}

/* NAV */

.nav {
  border-bottom: 2px solid black;
}

.nav-burger {
  font-size: 2em;
}

/* INTRO */

.intro {
  margin-top: 3.4em;
  border: 1px solid pink;
  position: relative;
}

.intro-content {
  text-align: left;
  position: absolute;
  top: 3em;
  padding-right: 40em;
  color: white;
  text-shadow: 2px 2px #000;
  font-size:
}